<div>
    <p>{{correo.value}}</p>
</div>

<div>
    <br/>
    <form class="form-group row">
        <div class="form-group col-md-3">
            <input #correo type="email" name="email" placeholder="email" class="form-control">

        </div>
        <div class="form-group col-md-3">
            <input type="password" name="password" placeholder="password" class="form-control">
        </div>

        <br/><br/>

        <div>
            <button type="submit" class="btn btn-primary" (click)="llamarLogin(correo.value)">Ingresar</button>
        </div>

    </form>
</div>
