<div class="container">
    <div class="col" style="text-align: center;">
        <h3>Registro de fuas pendientes por digitar:</h3>
    </div>
    <br />

    <form class="form-group row">
        <div class="form-group col-md-3">
            <label for="punto">Punto de Digitación:</label>
            <input type="text" name="punto" id="punto" placeholder="nombre del punto" class="form-control"
                [(ngModel)]="cuadroPunto" required ng-minlength="3" ng-maxlength="80">
        </div>
        <!-- <div class="form-group col col-md-3">
            <label for="punto">Punto de Digitación:</label>
            <select id="punto" name="punto" 
                        [(ngModel)]="cuadroPunto" class="form-control"> 
                        <option *ngFor="let lis of listapuntos" value[]="lis.id">
                            {{.}}
                        </option>
            </select>
        </div> -->

        <div class="form-group col-md-3">
            <label for="fecha">Fecha de reporte:</label>
            <input type="date" name="fecha" id="fecha" class="form-control" [(ngModel)]="cuadroFecha">
        </div>

        <div class="form-group col-md-3">
            <label for="nombre">Nombre responsable:</label>
            <input type="text" name="nombre" id="nombre" placeholder="nombre" class="form-control"
                [(ngModel)]="cuadroNombre">
        </div>
        <div class="form-group col-md-3">
            <label for="apellidopat">Apellido Paterno:</label>
            <input type="text" name="appelidopat" id="apellidopat" placeholder="apellido paterno" class="form-control"
                [(ngModel)]="cuadroApellidopat">
        </div>
        <div class="form-group col-md-3">
            <label for="apellidomat">Apellido Materno:</label>
            <input type="text" name="apellidomat" id="apellidomat" placeholder="apellido materno" class="form-control"
                [(ngModel)]="cuadroApellidomat">
        </div>
        <div class="form-group col-md-3">
            <label for="stock">N° de Fuas pendientes:</label>
            <input type="number" name="stock" id="stock" placeholder="numero de fuas" class="form-control"
                [(ngModel)]="cuadroFuas">
        </div>

        <div class="form-group col-md-3">
            <label for="stock">N° de His pendientes:</label>
            <input type="number" name="stockH" id="stockH" placeholder="numero de fuas" class="form-control"
                [(ngModel)]="cuadroHis">
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary m-4" (click)="agregarStock()">Enviar</button>
        </div>

    </form>
</div>
<br />

<!-- <div class="container">
    <div class="row">
        <p class="lead fs-2 text-dark">Fuas pendientes a la fecha:</p>
        <app-lista-stock class="col col-6 mt-2" *ngFor="let stock of stocks" [stockLista]="stock"></app-lista-stock>
    </div>
</div> -->

<div class="container text-center">
    <div class="col">
        <table class="table table-sm table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Punto de Digitación</th>
                    <th>Fecha Reporte</th>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>N° Hojas Fuas</th>
                    <th>N° Hojas His</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stock of stocks">
                    <!-- <app-lista-stock *ngFor="let stock of stocks" [stockLista]="stock"></app-lista-stock> -->
                    <td>{{stock.punto}}</td>
                    <td>{{stock.fecha}}</td>
                    <td>{{stock.nombre}}</td>
                    <td>{{stock.apellidopat}}</td>
                    <td>{{stock.apellidomat}}</td>
                    <td>{{stock.stock}}</td>
                    <td>{{stock.stockH}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
