@media (max-width: 767px){
.enlaces_externos .boton i {
    font-size: 40px;
    height: 55px;
    padding: 8px 0 5px 0;
}
}

@media (max-width: 767px){
.enlaces_externos .boton{
        height: 100px;
    }
}

.enlaces_externos .boton {
    height: 185px;
    animation: all 0.3s ease-out;
}

.btn-block{
    width: 100%;
}

