<section class="seccion enlaces_externos mt-5">
    <div class="container-fluid text-center">
        <div class="row">     
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="#" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_self">
                        <!-- <i class="fas fa-gavel d-block"></i> -->
                        <fa-icon [icon]="filmIcon" d-block></fa-icon>
                        <strong class="d-block mb-2">Normatividad</strong>
                        <span class="d-none d-md-block">Resoluciones y Directivas.</span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="#" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_blank">
                        <i class="fas fa-bullhorn d-block"></i>
                        <strong class="d-block mb-2">COMUNICADOS</strong>
                        <span class="d-none d-md-block">CAPACITACIONES</span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a routerLink="redirect-tablerosis" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_blank">
                        <i class="fab fa-bimobject d-block"></i>
                        <strong class="d-block mb-2">ESTADISTICA</strong>
                        <span class="d-none d-md-block">SEGUIMIENTO DE PRESTACIONES</span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="#" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_self">
                        <i class="fas fa-book d-block"></i>
                        <strong class="d-block mb-2">INDICADORES SIS GORE</strong>
                        <span class="d-none d-md-block">AVANCE DE INDICADORES 2023</span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="#" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_blank">
                        <i class="fas fa-home d-block"></i>
                        <strong class="d-block mb-2">CARTILLAS</strong>
                        <span class="d-none d-md-block">CORRECTO LLENADO DE FUAS</span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="#" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_self">
                        <i class="fas fa-file-archive d-block"></i>
                        <strong class="d-block mb-2">ARCHIVO DE NOTICIAS</strong>
                        <span class="d-none d-md-block"></span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="#" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_blank">
                        <i class="fas fa-align-justify d-block"></i>
                        <strong class="d-block mb-2">TRASLADOS DE EMERGENCIA</strong>
                        <span class="d-none d-md-block">CAPACITACION SOBRE EXPEDIENTES DE TRASLADOS DE EMERGENCIA</span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="#" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_blank">
                        <i class="far fa-lightbulb d-block"></i>
                        <strong class="d-block mb-2">SEPELIOS</strong>
                        <span class="d-none d-md-block">CACPACITACION EN TRAMITE DE EXPEDIENTES DE SEPELIOS</span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="#" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_blank">
                        <i class="fas fa-desktop d-block"></i>
                        <strong class="d-block mb-2">IPRESS</strong>
                        <span class="d-none d-md-block">LISTADO DE IPRESS ACTIVAS</span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="#" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_blank">
                        <i class="fas fa-users d-block"></i>
                        <strong class="d-block mb-2">LINKS MAS USADOS</strong>
                        <span class="d-none d-md-block">LINKS DE LOS SISTEMAS MAS IMPORTANTES</span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="bit.ly/tablerorl" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_blank">
                        <!-- <i class="fas fa-file-alt d-block"></i> -->
                        <fa-icon [icon]="faFile"></fa-icon>
                        <strong class="d-block mb-2">FORMATOS Y FORMULARIOS</strong>
                        <span class="d-none d-md-block"></span>
                    </a>
                </div>
            
                <div class="col-6 col-md-4 col-lg-2 my-2" style="visibility: visible;">
                    <a href="/portal/ac/695" class="boton btn btn-block waves-effect waves-light btn-outline-primary" target="_blank">
                        <i class="fas fa-chess-knight d-block"></i>
                        <strong class="d-block mb-2">CONCURSOS</strong>
                        <span class="d-none d-md-block">Eventos realizados por la Uspp de Red</span>
                    </a>
                </div>
            
        </div>
    </div>
</section>