<!-- <div>
    <div class="card border border-2 shadow">
        <div class="card-header bg-primary text-white">
            Nombre del pp.dd: {{stockLista.punto}}
            <br />
            Fecha: {{stockLista.fecha}}
        </div>
        <div class="card-body">
            Nombres y Apellidos: {{stockLista.nombre}} {{stockLista.apellidopat}} {{stockLista.apellidomat}}
            <br />
            Fuas pendientes: {{stockLista.stock}}
        </div>
    </div>
</div> -->
<!-- <tr>
    <td>{{stockLista.punto}}</td>
    <td>{{stockLista.fecha}}</td>
    <td>{{stockLista.nombre}}</td>
    <td>{{stockLista.apellidopat}}</td>
    <td>{{stockLista.apellidomat}}</td>    
    <td>{{stockLista.stock}}</td>
</tr>
 -->

                
