<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/img/1.frontisRed.jpg" class="d-block w-100 img-fluid" alt="1-frontis-Red">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/2.canalesSis.jpg" class="d-block w-100 img-fluid" alt="2-canales-Sis">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/3.coberturaTotal.jpg" class="d-block w-100 img-fluid"
                alt="3-cobertura-Total">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/4.capacitacionSis.jpg" class="d-block w-100 img-fluid"
                alt="4-capacitacion-Sis">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

