<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.ibb.co/rk0VHQc/1-frontis-Red.jpg" class="d-block w-100 img-fluid" alt="1-frontis-Red">
        </div>
        <div class="carousel-item">
            <img src="https://i.ibb.co/ncrqBGH/2-canales-Sis.jpg" class="d-block w-100 img-fluid" alt="2-canales-Sis">
        </div>
        <div class="carousel-item">
            <img src="https://i.ibb.co/72WvDVp/3-cobertura-Total.jpg" class="d-block w-100 img-fluid"
                alt="3-cobertura-Total">
        </div>
        <div class="carousel-item">
            <img src="https://i.ibb.co/4dJy9GS/4-capacitacion-Sis.jpg" class="d-block w-100 img-fluid"
                alt="4-capacitacion-Sis">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>